.main{
    display:flex;
    flex-direction: column;
    background-color: #000000;
    height:844px;
    width: 390px; 
    border-radius: 3.9375rem; 
    color: #FFFFFF ;
    font-family: Inter,sans-serif;
    font-weight: 400;
    letter-spacing: 0%;  
    justify-content: space-between;
}
.back{
    display: flex;
    flex-direction: row;
    height:20px; 
    width: 300px; 
    gap: 117px;
}
.playing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 23px;
    gap: 22px;
    }
.back span{
    font-family: Inter, sans-serif;
    font-weight: 400;
    
    font-size: 20px;
    line-height: 24.2px; 
}
.song-name{
    display: flex;
    flex-direction: row;
    padding: 0px;;
    height: 51px;
    margin-left: 59px;
    margin-right: 61px; 
    margin-bottom: 17px;
    justify-content: space-between;
    align-items: center;
}
.column1{
    display:flex;
    flex-direction: column; 
    height: 51px;
    max-height:max-content;
    justify-content: space-between;
}
.mainsong{
    
    font-size: 18px;
    line-height: 21.78px;
}
h3{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
}
.column2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end; 
    align-items: stretch;
    gap: 20px;
}
.progress{
    display:flex;
    flex-direction: row; 
    align-items: center;
    margin-left: 27px;
    margin-right: 23px; 
    gap: 2px; 
}
.time1, .time2{
    font-size: 12px;
    line-height: 14.52px;
}
.progress-bar {
    width: 95%; 
    height: 4px; 
    background-color: rgba(235, 249, 245, 0.34); 
    overflow: visible;
    position: relative; 
  }
.progress-fill {
    display: flex;
    width: 50%; 
    height: 4px; 
    background-color: rgba(49, 175, 145, 1) ;
}
.timeline {
    width: 100%; 
    height: 20px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}
#progress{
    position: absolute; 
    top: 50%; 
    left: 48%; 
    transform: translateY(-50%) ; 
    pointer-events: none;
    width: 10px;
    height: auto;
}
.balltime{
    display: flex;
    flex-direction: row;
    height: max-content;
}
.buttons{
    margin-top: 35px;    
    display: flex;
    align-items: center;
    margin-left: 33px;
    margin-right: 35px; 
    justify-content: space-between;
    height: 67px;
}
.playbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background: radial-gradient(100% 100% at 50% 44.68%, #4AFFD4 0%, rgba(62, 243, 200, 0) 100%);
    border-radius: 50%;
    width: 67px;
    height: 67px;
}
.menu{
    margin-left: 32px;
    margin-right: 36px; 
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.upnext{
    font-size: 20px;
    line-height: 24.2px;
}
.viewall{
    font-size: 12px;
    line-height: 14.52px;
}
.menuroll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 23px;
    margin-right: 24px; 
   
}
.listing{
    flex:1;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.right{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:right;
    gap:22px;
    
}
.scroll{
    position: relative;
    height:200px;
    
}
.choice{
    display: flex;
    flex-direction: column;
    height: 198px;
    overflow: hidden;
}
.footermenu{
    height: 60px;
    background-color: #232728;
    border-radius: 0rem 0rem 3.9375rem 3.9375rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footermenu img{
    height:24px;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.pointer{
    height: 4px;
    width: 4px;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.playingpl{
    position: relative;
  display: inline-block;  
}
.playingpl::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 12, 12, 0.79);

 
    pointer-events: none;
}
#coverpl{
    height: 234px;
    width: 342px;
}

   
